<ion-content class="modal-content">

  <!-- Header -->
  <div class="header">
    <h2>Resultado da Partida</h2>
    <p>Fase Suíça · Rodada 1</p>

    <ion-button fill="clear" class="close-btn">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Score Area -->
  <div class="score-container">

    <!-- Player A -->
    <div class="player">
      <div class="player-badge yellow">{{match.playerA.name}}</div>

      <div class="score-control">
        <button class="circle-btn"  (click)="decreaseScore('A')">−</button>
        <div class="score">{{result.scoreA}}</div>
        <button class="circle-btn primary" (click)="increaseScore('A')">+</button>
      </div>
    </div>

    <div class="vs">VS</div>

    <!-- Player B -->
    <div class="player">
      <div class="player-badge red">{{match.playerB.name}}</div>

      <div class="score-control">
        <button class="circle-btn"  (click)="decreaseScore('B')">−</button>
        <div class="score"  >{{result.scoreB}}</div>
        <button class="circle-btn primary"  (click)="increaseScore('B')">+</button>
      </div>
    </div>

  </div>

  <!-- Info -->
  <p class="info">
    Partidas vão até 3 pontos. Vencedor ganha +2pts bônus.
  </p>

  <!-- Error -->
  <p class="error">
    Defina um vencedor para continuar.
  </p>

  <!-- Actions -->
  <ion-button expand="block" class="finish-btn" (click)="reportResult()">
    <ion-icon name="trophy-outline"  slot="start"></ion-icon>
    Finalizar Partida
  </ion-button>

  <ion-button fill="clear" expand="block" (click)="cancel()" class="cancel-btn">
    Cancelar
  </ion-button>

</ion-content>
