<app-header></app-header>
<ion-content class="arena-bg">

  <!-- HEADER -->
  <div class="top-header">
    <div>
      <h2>{{tournament.name}}</h2>
      <span class="phase">
        <span class="dot"></span> FASE SUÍÇA
      </span>
    </div>

    <ion-button fill="outline" size="small">
      <ion-icon name="time-outline"></ion-icon>
      @if(tournament.timer > 0){
        {{tournament.timer}} Min
      } @else {
        Tempo Livre
      }
    </ion-button>
  </div>

<app-torneio-ranking [players]="tournament.players"></app-torneio-ranking>
  <!-- RODADA -->
  <div class="round-header">
    <h3>Rodada {{tournament.rounds[0]?.number}}</h3>
    <span class="status">Em andamento</span>
  </div>

<ng-container *ngIf="tournament as t">
  <ng-container *ngIf="t.rounds.length > 0 && t.rounds[0].matches">
    <app-matches [matches]="t.rounds[0].matches"></app-matches>
  </ng-container>
</ng-container>
 <!-- ACTION -->
  <ion-button expand="block" class="next-btn" (click)="gerarNovaRodada()">
    Próxima Rodada
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>

</ion-content>
