<app-header></app-header>
<ion-content class="arena-bg">

  <!-- HEADER -->
  <div class="top-header">
    <div>
      <h2>teste</h2>
      <span class="phase">
        <span class="dot"></span> FASE SUÍÇA
      </span>
    </div>

    <ion-button fill="outline" size="small">
      <ion-icon name="time-outline"></ion-icon>
      @if(timer > 0){
        {{timer}} Min
      } @else {
        Tempo Livre
      }
    </ion-button>
  </div>

  <!-- CLASSIFICAÇÃO -->
  <ion-card class="glass-card">
    <ion-card-header>
      <ion-card-title>
        🏆 Classificação
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngFor="let player of players, let i = index" class="rank blue">
          <span class="pos">1</span>
          <span class="name"> {{player.name}}</span>
          <span class="pts">{{player.pts}} pts</span>
        </ion-item>
     </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- RODADA -->
  <div class="round-header">
    <h3>Rodada 1</h3>
    <span class="status">Em andamento</span>
  </div>

 <app-matches></app-matches>
 <!-- ACTION -->
  <ion-button expand="block" class="next-btn">
    Próxima Rodada
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>

</ion-content>
