
<app-header></app-header>

<ion-content class="arena-bg">

  <!-- HEADER -->
  <div class="top-header" *ngIf="tournament as t">

    <div class="title-area">
      <h2>{{ t.name }}</h2>

      <span class="phase">
        <span class="dot"></span>
        FASE SUÍÇA
      </span>
    </div>

    <ion-button fill="outline" size="small" class="timer-btn">
      <ion-icon name="time-outline"></ion-icon>

      <span *ngIf="t.timer > 0; else freeTime">
        {{ t.timer }} Min
      </span>

      <ng-template #freeTime>
        Tempo Livre
      </ng-template>
    </ion-button>

  </div>

  <!-- RANKING -->
  <app-torneio-ranking
    *ngIf="tournament"
    [players]="tournament.players">
  </app-torneio-ranking>

  <!-- RODADA -->
  <div
    class="round-header"
    *ngIf="tournament?.rounds?.length">

    <h3>
      Rodada {{ tournament.rounds[0].number }}
    </h3>

    <span class="status">
      Em andamento
    </span>

  </div>

  <!-- MATCHES -->

<ng-container *ngIf="tournament?.rounds?.length">

  <ng-container *ngIf="tournament.rounds[0].matches as matches">
    <app-matches [matches]="matches"></app-matches>
  </ng-container>

</ng-container>


  <!-- ACTION -->
  <ion-button
    expand="block"
    class="next-btn"
    (click)="gerarNovaRodada()"
    *ngIf="tournament">

    Próxima Rodada
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>

  </ion-button>

</ion-content>

