  <!-- PARTIDAS -->
  <ion-card class="match-card" *ngFor="let match of matches; let i = index">
    <div class="player blue">{{match.playerA.name}}</div>

    <div >
      <strong>@if(match.scoreA != 0){{{match.scoreA}}}@else{0}</strong>
      <span>VS</span>
      <strong>@if(match.scoreB != 0){{{match.scoreB}}}@else{0}</strong>
      </div>

    <div class="player green">{{match.playerB.name}}</div>

  <ion-button class="next-btn" (click)="reportarResultado(i)">Reportar Resultado</ion-button>
  </ion-card>
